<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Netflix</title>
    <link rel="stylesheet" href="/static/css/style-login.css">
    <script src="https://kit.fontawesome.com/658f1e5338.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>

    <header>
        <div class="navbar-index">
            <div class="logo">
                <!-- <a href="#">Netflix</a> -->
                <a href="/"><img
                        src="https://images.ctfassets.net/y2ske730sjqp/821Wg4N9hJD8vs5FBcCGg/9eaf66123397cc61be14e40174123c40/Vector__3_.svg"
                        alt="Netflix-Logo" height="38"></a>
            </div>



            
        </div>
    </header>


      <!-- Pop Message -->

      <div class="popup-message {% if messages %} pop-mess {% endif %}">
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'success' %}
        <span style="background-color: rgb(46, 183, 67);border-color: green;">{{message}}</span>
        {% else %}
        <span style="background-color: rgba(241, 16, 5, 0.822);border-color: rgb(167, 0, 0);">{{message}}</span>
        {% endif %}
        {% endfor %}
        {% endif %}

    </div>

    <!--  -->


<form method="post"> 
    {% csrf_token %}
    <main>
        <div class="login-wrapper">
            <div class="login-titles">
                <span>Sign In</span>
            </div>
            <div class="input-info">
                <div class="signin-email">
                    <input type="email" name="email" id="email">
                    <span id="placehol-email">Email address</span>
                </div>
                <div class="signin-password">
                    <input type="password" name="password" id="password">
                    <span id="placehol-pass">Password</span>
                </div>
            </div>
            <button type="submit" id="signin-btn">Sign In</button>
            <div class="other-detail">
                <div class="forgot-pass">
                    <a href="{% url 'forgot-page' %}">Forgot password?</a>
                </div>
                <div class="remember">
                    <input type="checkbox" name="remember" id="">
                    <span>Remember me</span>
                </div>
                <div class="signin-redirect">
                    <span>New to Netflix?</span><a href="/">Sign up now</a>.
                </div>
    
            </div>
        </div>
    </main>
</form> 

 
<!-- Footer -->

{% include 'account/footer.html' %}
    
<!-- background Images named as banner-movies -->
<div class="banner-movies"></div>
<!-- background Images -->
    <script src="/static/js/script-login.js"></script>
</body>

</html>