<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix - Watch TV Shows and Movies</title>
    <link rel="stylesheet" href="/static/css/style-reset-mess.css">
    <script src="https://kit.fontawesome.com/658f1e5338.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="navbar-index">
            <div class="logo">
                <!-- <a href="#">Netflix</a> -->
                <a href="{% url 'index' %}"><img
                        src="https://images.ctfassets.net/y2ske730sjqp/821Wg4N9hJD8vs5FBcCGg/9eaf66123397cc61be14e40174123c40/Vector__3_.svg"
                        alt="Netflix-Logo" height="42"></a>
            </div>
            <a id="redir-log" href="{% url 'login' %}">Sign In</a>

        </div>
    </header>

    <main>
        <div class="login-wrapper">
            <div class="login-titles">
                <span>Email Sent</span>
            </div>
            <div class="message hidden">Email Send</div>
            <span id="instruction">An email with instructions on how to reset your password has been sent to
                <b>{{email}}</b>. Check your spam or junk folder if you don’t see the email in your inbox.
                <br><br>
                If you no longer have access to this email account, please contact us.</span>

        </div>
    </main>


    <!-- Footer -->

    {% include 'account/footer.html' %}


    <!-- background Images named as banner-movies -->
    <div class="banner-movies"></div>
    <!-- background Images -->

</body>

</html>












