
<div class="movie-slider-wrapper">
    <div class="sl-btn">
        <button id="prev" onclick="left()"><i class="fa-solid fa-chevron-right"></i></button>
    </div>
    <div class="movie-list-slider">

        <a href="#0" class="movie-list">
            <div class="movie-list"
                style="background-image: url('https://cdn.europosters.eu/image/350webp/67844.webp');"></div>
        </a>
        <a href="#1" class="movie-list">
            <div class="movie-list"
                style="background-image: url('https://cdn.europosters.eu/image/350webp/132237.webp');">
            </div>
        </a>
        <a href="#2" class="movie-list">
            <div class="movie-list"
                style="background-image: url('https://cdn.europosters.eu/image/350webp/146563.webp');">
            </div>
        </a>
        <a href="#3" class="movie-list">
            <div class="movie-list"
                style="background-image: url('https://dnm.nflximg.net/api/v6/2DuQlx0fM4wd1nzqm5BFBi6ILa8/AAAAQdttJvszpXZZDRBx6bLQprJt918HrS1MGOej3W88GrkfOeL-kUJn66TfXKYxd1B7r3ZDxo2Wlo-FjgzFUvSNrR9FRSrUq-aW0Jzip6mBrJvjEm7pVt72u_XErbyxZZ5RJNJpnOdy_3z2VabskP99G_ie.jpg?r=93e');">
            </div>
        </a>
        <a href="#4" class="movie-list">
            <div class="movie-list"
                style="background-image: url('https://cdn.europosters.eu/image/350webp/76122.webp');"></div>
        </a>
        <a href="#5" class="movie-list">
            <div class="movie-list"
                style="background-image: url('https://cdn.europosters.eu/image/350webp/173486.webp');">
            </div>
        </a>
        <a href="#6" class="movie-list">
            <div class="movie-list" style="background-image: url('/static/img/poster1.jpg');"></div>
        </a>
    </div>

    <div class="sl-btn">
        <button id="next" onclick="right()"><i class="fa-solid fa-chevron-right"></i></button>
    </div>
</div>
</div>
