<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block title %}{% endblock %}
    {% block style %}{% endblock %}
    
    <script src="https://kit.fontawesome.com/658f1e5338.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    {% block headscript %}{% endblock %}

</head>

<body>

    {% include 'content/navbar.html' %}

    {% block content %}


    {% endblock %}


    {% include 'content/footer.html' %}

    <script src="/static/js/script.js"></script>
   

    {% block script %}
    
    {% endblock %}
</body>
</html>

