<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style-404.css">
    <title>Netflix</title>
</head>
<body>

    <header>
        <div class="navbar" >
            <div class="logo">
                <!-- <a href="#">Netflix</a> -->
                <a href="{% url 'home' %}"><img
                        src="https://images.ctfassets.net/y2ske730sjqp/821Wg4N9hJD8vs5FBcCGg/9eaf66123397cc61be14e40174123c40/Vector__3_.svg"
                        alt="Netflix-Logo" height="32"></a>
            </div>
            
            
    
        </div>
    </header>

   <div id="container">
    <div id="lost-path">
        <h1>Lost your way?</h1>
        <p id="error">Sorry, we can't find that page. You'll find lots to explore on the home page. </p>    
        <a href="#" id="home">Netflix Home</a>
   </div>
    
</body>
</html>